---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/Base.astro';

import Card from '../../components/Card.astro';

const blogEntries = await getCollection('blog');
---

<BaseLayout title="Blog">
  <main>
    <h1>Blog</h1>
    <div class="blog-grid">
      {
        blogEntries.map((blogEntry) => (
          <Card
            isClickable={true}
            title={blogEntry.data.title}
            href={`/blog/${blogEntry.slug}`}
            body={blogEntry.data.summary}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>

<style>
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 100% [col-start]);
    row-gap: 1rem;
  }
</style>
