---
import BaseLayout from "../layouts/Base.astro";
// get blog data from a CMS?
// should/could be just a container for Markdown files
---

<BaseLayout title="Blog">
  <main>
    <h1>Blog</h1>
  </main>
</BaseLayout>
