---
import BaseLayout from "../layouts/Base.astro";
import Card from "../components/Card.astro";

// get list of projects from CMS?
---

<BaseLayout title="Projects">
  <h1>Projects Page</h1>
  <Card
    href="#"
    title="Card Title"
    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sint. A aliquid sequi saepe dicta assumenda veniam, qui eos, laudantium laborum autem alias enim officiis et, consequatur nostrum iure hic."
  />
</BaseLayout>
