---
import SocialButtons from "./SocialButtons.astro";
---

<Footer class="page-boundary">
  <SocialButtons />
  <div>
    <p>Built with &lt;3 using <a href="https://astro.build/">Astro</a></p>
  </div>
</Footer>

<style>
  Footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  div {
    justify-content: center;
    display: inline-flex;
  }
  p {
    margin-right: 10px;
  }
</style>
