---
type Props = {
  timestamp: Date;
};

const { timestamp } = Astro.props;
const parsedTimestamp = new Date(timestamp);
const date = parsedTimestamp.toDateString();
---

<div>
  <time datetime={date}>{date}</time>
</div>
