---
import ToggleViewButton from './ToggleViewButton.astro';

const links = [
  { url: '/', name: 'Home' },
  { url: '/about-me', name: 'About Me' },
  { url: '/projects', name: 'Projects' },
  { url: '/skills', name: 'Skills' },
  { url: '/blog', name: 'Blog' },
];

const formattedLinks = links.map((link) => {
  if (Astro.url.pathname === link.url) {
    link.url = '#';
  }
  return link;
});
---

<div>
  <nav>
    {formattedLinks.map((link) => <a href={link.url}>{link.name}</a>)}
  </nav>
  <ToggleViewButton />
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
  }
  nav {
    justify-content: space-between;
  }
  nav * {
    padding: 0 5px 0 5px;
  }
  nav a {
    font-weight: 600;
  }
</style>
