---
import ToggleViewButton from './ToggleViewButton.astro';

const links = [
  { url: '/', name: 'Home' },
  { url: '/about-me', name: 'About Me' },
  { url: '/projects', name: 'Projects' },
  // { url: "/skills", name: "Skills" },
  { url: '/blog', name: 'Blog' },
];

const formattedLinks = links.map((link) => {
  if (Astro.url.pathname === link.url) {
    link.url = '#';
  }
  return link;
});
---

<div class="navbar">
  <nav>
    {
      // we have to add to the index because of the special value of tabindex 0
      formattedLinks.map((link, index) => (
        <a
          href={link.url}
          tabindex={index + 1}>
          {link.name}
        </a>
      ))
    }
  </nav>
  <ToggleViewButton tabIndex={formattedLinks.length + 1} />
</div>

<style>
  .navbar {
    display: inline-grid;
    grid-template-columns: [start] 4fr [line2] 1fr [end];
    column-gap: 3rem;
  }
  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  nav * {
    padding: 1rem;
  }
  nav a {
    font-weight: 600;
    line-height: 5;
  }
</style>
