---
const links = [
  { url: "/", name: "Home" },
  { url: "/about-me", name: "About Me" },
  { url: "/projects", name: "Projects" },
  { url: "/skills", name: "Skills" },
  { url: "/blog", name: "Blog" },
];

const formattedLinks = links.map((link) => {
  if (Astro.url.pathname === link.url) {
    link.url = "#";
  }
  return link;
});
---

<nav>
  <!-- TODO: Dark/Light mode toggle -->
  {formattedLinks.map((link) => <a href={link.url}>{link.name}</a>)}
</nav>

<style>
  nav {
    justify-content: space-between;
  }
  nav * {
    padding: 0 5px 0 5px;
  }
  nav a {
    font-weight: 600;
  }
</style>
