<div class="social-links">
  <a href="https://github.com/kevinthemself" class="button">GitHub</a>
  <a href="https://www.linkedin.com/in/ortsacnivek/" class="button">LinkedIn</a>
</div>

<style>
  .social-links {
    display: flex;
    justify-content: center;
  }
  a {
    margin: 0 5px 0 5px;
  }
  a:is(:hover, :focus-within) {
    transition: none;
    text-shadow: none;
  }
</style>
