<div class="social-links">
  <a href="https://github.com/kevinthemself">GitHub</a>
  <a href="https://www.linkedin.com/in/ortsacnivek/">LinkedIn</a>
</div>

<style>
  .social-links {
    display: flex;
    justify-content: center;
  }
  .social-links * {
    padding: 0 10px 0 10px;
  }
  /* TODO: button-ify links */
</style>
