---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";

const projects = await getCollection("projects");

// type Project = {
//   href: string;
//   title: string;
//   body: string;
// };

// const testProject: Project = {
//   href: "#",
//   title: "Card Title",
//   body: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sint. A aliquid sequi saepe dicta assumenda veniam, qui eos, laudantium laborum autem alias enim officiis et, consequatur nostrum iure hic.",
// };

// // Placeholder
// const projects: Project[] = Array(6).fill(testProject, 0, 6);
---

<BaseLayout title="Projects">
  <main>
    <h1>Projects</h1>
    <div class="project-grid">
      {
        projects.map((project) => (
          <Card
            href={`/projects/${project.slug}`}
            title={project.data.name}
            body={project.data.subtitle}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>

<style>
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 50% [col-start]);
    column-gap: 1rem;
    row-gap: 1rem;
  }
</style>
