---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/Base.astro';

import Card from '../../components/Card.astro';

const projects = await getCollection('projects');
---

<BaseLayout title="Projects">
  <main>
    <h1>Projects</h1>
    <div class="project-grid">
      {
        projects.map((project) => (
          <Card
            isClickable={true}
            title={project.data.name}
            href={`/projects/${project.slug}`}
            body={project.data.subtitle}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>

<style>
  main {
    width: var(--reader-width);
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 50% [col-start]);
    column-gap: 1em;
    row-gap: 1em;
  }
</style>
